.cropped{
   width:300px;
   height:100px; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:0;   /*reset margin of cropped tag*/
   object-fit: none;
}
.cropped img{
   display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
}

.sticky-top{
  top: 50px !important;
}

.fa-linkedin {
    color: red !important;
}
