h1{
    font-weight: 300 !important;
    line-height: 1.5em !important;
}

.list-project-title{
  color:#0072ff;
}

li{
  list-style: none;
}

#logo-iziplans{
    height: 50px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.card-img-iziplans{
    height:120px;
}

.categories{
  display: inline-block;
  background-color: #eceeef;
  padding: .4em .7em;
  margin: 5px 5px 0 0;
  border-radius: 5px;
  color:#0072ff;
  font-size: 12px;
}

.list-project-time{
  font-size: 12px;
  color: #7b868d;
  margin-left: 10px;
  }

  .card-project-home{
    border-bottom: 0px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-bottom: 16px;
  }

