.scroll {
    max-height: 500px;
    overflow-y: auto;
}

.my_message{
    background-color: #ECF0F1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.his_message{
    background-color: #CCEAFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.message_preview_index{
        width: 250px;
        font-size: 13px;
        color: #bdc4c7 !important;
        margin-top: 0;
        margin-bottom: 0;
    }

.message_title_index{
    margin-bottom: 0;
}

.message_from_index{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0;
}

.message_index :hover{
    background-color: #ECEEEF;
}