.input-group-text{
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-left: 0px !important;
}

.text-private{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.image-avatar{
    width: 160px !important;
}
