.card-show{
    border: 0px !important;
    padding: 1.25rem;
}

.project-state{
    background-color: #00CF67;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.8);
    background-clip: padding-box;
}

.subtitle-project{
    color: rgba(255,255,255,0.8);
    font-size: 18px;
}

.td-show{
    width: 8em !important;
}

.show-description{
  font-size:1.5em;
}

.card-avatar{
    width: 80px;
    height: 80px;
}