.card-show{
    border: 0px !important;
    padding: 1.25rem;
}

.subtitle-project{
    color: rgba(255,255,255,0.8);
    font-size: 18px;
}

.td-show{
    width: 8em !important;
}

.show-description{
  font-size:1.5em;
}

.card-avatar{
    width: 80px;
    height: 80px;
}

.card-offer{
    padding: 0.75rem !important;
}
