.profil-avatar{
    height: 150px;
    width: 150px;
    border: 1px solid #dee2e6;
}

.notify-badge-show{
  position: absolute;
  right:-20px;
  top:-20px;
  text-align: center;
}

.notify-badge-show img {
  height: 48px;
}
