#upload{
    display:none
}

.avatar-modal{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.select2{
    width: 100%!important;
}
.select2-container--default .select2-selection--multiple  {
    border: 1px solid #ced4da !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0072FF;
    border: 1px solid #0072FF;
    color: white;
    margin-bottom: 5px;
}

.select2-selection__choice__remove{
    color: white !important;
}

.label-form{
    font-size: 1.5rem;
    margin-bottom: 0px;
    margin-top: 16px;
}

.banner-profil-background{
    padding: 15px;
    height: 160px;
    background: linear-gradient(90deg, #020024 0%, #090979 35%, #0094dd 100%);
    z-index : 1;
    filter: brightness(0.66);
    background-size: cover;
    background-position: 50% 50%;
}

.avatar-banner{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: 3px solid white;
    background: white;
    border-radius: 30px;
    height: 130px;
    width: 130px;
    margin-top: -97px;
    overflow: hidden;
    z-index : 99;
}
