// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'homepage';
@import 'register_form';
@import 'admin';
@import 'project_show';
@import 'offers';
@import 'users_edit';
@import 'users_show';
@import 'messagerie';
@import 'flashy';
@import 'navbar';
@import 'subscribe';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    color: #4a4a4a;
}

a{
    text-decoration: none !important;
}

li{
  list-style: none;
}

h1 {
  font-size:3em;
}

h6{
  font-size: 1.2rem;
}

p{
  font-size: 1.2em;
}

main{
    min-height: calc(100vh - 152px);
}
