RewriteEngine On

Options -Indexes
Options -Multiviews
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} ^iziplans.com [NC]
RewriteRule ^(.*) https://www.iziplans.com/$1 [L,R=301,QSA]
